*.class

# Package Files #
*.war
*.ear
start.jar
server.jar
client/target/*
jaxws/target/*
libary/target/*
entities/target/*
ear/target/*
server/target/*
web/target/*
*/.settings/*
*/.project
*/.classpath
*/bin/*

.settings
.project
.classpath

# Android dir.
android/bin/*